[run]
omit =
    app/api.py
    app/credencials.py
    app/dependencies.py
    app/routers/status.py
    app/connections/mysql/models

    app/models/cards.py
    app/models/decks.py

    app/models/responses/card_response.py
    app/gql_config/graphql_error.py
    app/models/responses/deck_response.py
    app/models/responses/response.py
    app/models/responses/subdeck_response.py
    app/models/responses/user_response.py
    app/models/schema_importer.py
    app/services/sentry.py
    app/utils/credencials.py